body {
    background-color:#0f5475;
    background-image:url(./bg.png);
    background-repeat:repeat-x;
}
body.inframe {
    background-image:none;
    background-color:#caebfa;
}
table {background-color:#eff1ff}
.table {background-color:#eff1ff}
#page {
    background-color:#caebfa;
    position:relative;
    box-shadow:0 0 20px #caebfa;
}
table.message {
    border-right:#000000 1px solid;
    border-top:#000000 1px solid;
    border-left:#000000 1px solid;
    border-bottom:#000000 1px solid;
}
h2 {margin-bottom:6px}
td {border:#000000 1px solid}
th {border:#000000 1px solid}
.td {border:#000000 1px solid}
table.no-vertical-line>thead>tr:first-child>th {border-top:#000000 1px solid}
table.no-vertical-line {border-bottom:#000000 1px solid}
table.no-vertical-line tr:nth-of-type(even) td {
    background-color:#d3e2ff;
    border-top:solid 1px #D3E2FF;
    border-bottom:solid 1px #D3E2FF;
}
td.shoutrow {background-color:#f5f4ea}
.text {
    padding-right:10pt;
    padding-left:10pt;
    padding-bottom:10pt;
    padding-top:10pt;
}
td.colhead {background-color:#94b6e7}
thead>tr>th {background-color:#94b6e7}
a:hover {color:#ff0000}
.biglink a {font-weight:bold}
.torrentname a {font-weight:bold}
a.altlink:link {color:#a83838}
a.altlink:visited {color:#a83838}
a.altlink:hover {text-decoration:underline}
.btn2 {
    border-right:#ccc 1px outset;
    padding-right:2px;
    border-top:#ccc 1px outset;
    padding-left:2px;
    font-weight:bold;
    background:url(./btnbg.gif) repeat-x left top;
    padding-bottom:1px;
    border-left:#ccc 1px outset;
    cursor:pointer;
    color:#666;
    padding-top:1px;
    border-bottom:#ccc 1px outset;
}
.btn {
    border-right:#ccc 1px outset;
    padding-right:2px;
    border-top:#ccc 1px outset;
    padding-left:2px;
    font-weight:bold;
    background:url(./btnbg.gif) repeat-x left top;
    padding-bottom:1px;
    border-left:#ccc 1px outset;
    cursor:pointer;
    color:#666;
    padding-top:1px;
    border-bottom:#ccc 1px outset;
    border-radius:3px;
}
.gobutton {
    background:#476ba2;
    color:#fff;
}
.codetop {background:url(./code.gif) #f1b000 no-repeat right 50%}
ul.menu {
    margin-bottom:0px;
    margin-top:1px;
    margin-left:0px;
    padding-top:3px;
}
ul.menu li {margin-right:0px}
ul.menu li a {
    border-right:#778 1px solid;
    border-left:#778 1px solid;
    border-top:#778 1px solid;
    border-bottom:none;
    padding:3px 7px;
    background:url(./shade.gif) white repeat-x left top;
    background-color:#cfe0df;
    color:#2d2b2b;
    margin-right:3px;
    font-family:verdana, sans-serif;
    zoom:1;
}
ul.menu li span {
    border-right:#778 1px solid;
    border-left:#778 1px solid;
    border-top:#778 1px solid;
    border-bottom:none;
    padding:3px 7px;
    background:url(./shade.gif) white repeat-x left top;
    background-color:#cfe0df;
    color:#2d2b2b;
    margin-right:3px;
    font-family:verdana, sans-serif;
    zoom:1;
}
ul.menu li a:link {color:#2d2b2b}
ul.menu li a:visited {color:#2d2b2b}
ul.menu li a:hover {
    color:#effcff;
    background-image:url(./hover.png);
    border-right:#adcdd4 1px solid;
    border-left:#adcdd4 1px solid;
    border-top:#adcdd4 1px solid;
    box-shadow:0px 0px 5px #8ec8d5;
}
ul.menu li a:active {color:#2d2b2b}
ul.menu li.selected a {
    background-image:url(./shadeactive.gif);
    background-color:#ffffff;
    border-bottom-color:white;
    top:1px;
}
ul.menu li.selected span {
    background-image:url(./shadeactive.gif);
    background-color:#ffffff;
    border-bottom-color:white;
    top:1px;
}
ul.menu li.selected a:hover {
    text-decoration:none;
    background-image:url(./hover.png);
    color:white;
    border-right:#bbb 1px solid;
    border-left:#bbb 1px solid;
    border-top:#bbb 1px solid;
}
.color_bonus {color:#1900d1}
.color_invite {color:#1900d1}
.color_slots {color:#1900d1}
.color_uploaded {color:#008000}
.color_ratio {color:#1900d1}
.color_active {color:#1900d1}
.color_connectable {color:#1900d1}
.logo {color:#000000}
.slogan {color:#333333}
header {background:url(../hustlogo.png) no-repeat 85% bottom}
.twoup {color:#d2b8b8}
.twoup_bg {background-color:#ffecec}
div.niceTitle {background-color:#cfcfcc}
div.smilies td {background-color:#cfcfcc}
