/config/allconfig.php
/cache
/attachments
/bitbucket
/templates_c
/torrents
/subs
/imdb/images
/imdb/cache
/log
/test-*.php
/test.php
*.orig
*.rej
/include/loadRevision.php
.DS_Store
._*
*.sql
*.bak
ssh
ssh.log
*.o