body {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
    font-family: tahoma, arial, helvetica, sans-serif;
    background-color: #cfcfcc;
}
body.inframe
{
    background-image: none;
    background-color: #ece9d8;
}
table, .table {
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none;
    border-collapse: collapse;
    background-color: #ece9d8
}

table {
    border-spacing: 0px;
}

table.transparent {
    background-color:transparent;
}

#page {
    background-color: #f5f4ea;
    text-align: center;
    position: relative;
    padding-bottom: 2em;
    box-shadow: 0 0 20px #f5f4ea;
}

#page>form>table, #page>form>div {
    margin: 0 auto;
}

table.message
{
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid
}

a.info
{
    z-index: 24;
    color: #000;
    position: relative;
    background-color: #ccc;
    text-decoration: none
}
a.info:hover
{
    z-index: 25;
    background-color: #ff0
}
a.info span
{
    display: none
}
a.info:hover span
{
    border-right: #0cf 1px solid;
    border-top: #0cf 1px solid;
    display: block;
    left: 2em;
    border-left: #0cf 1px solid;
    width: 15em;
    color: #000;
    border-bottom: #0cf 1px solid;
    position: absolute;
    top: 2em;
    background-color: #cff;
    text-align: center
}
table.bottom
{
    background: none transparent scroll repeat 0% 0%
}
h1 {
    text-align: center;
}
h2
{
    margin-bottom: 6px
}
h2.transparentbg
{
    background-color: transparent;
    background-image: none
}
#page-title, .page-titles {
    text-align:center;
}
p.sub
{
    margin-bottom: 4pt
}
td, th, .td
{
    border: #000000 1px solid;
}

table.no-vertical-line>thead>tr:first-child>th {
    border-top: #000000 1px solid;
}

table.no-vertical-line td, table.no-vertical-line th {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: silver 1px dashed;
}

table.no-vertical-line>tbody>tr:first-child>td {
    border-top: none;
}

table.no-vertical-line {
    border-bottom: #000000 1px solid;
}

table.no-vertical-line tr:nth-of-type(even) td { 
    background-color:#d3d3c0;
    border-top: solid 1px #ece9d8;
    border-bottom: solid 1px #ece9d8;
}

td.embedded
{
    border-right: medium none;
    padding-right: 0px;
    border-top: medium none;
    padding-left: 0px;
    padding-bottom: 0px;
    border-left: medium none;
    padding-top: 0px;
    border-bottom: medium none;
    text-align: left
}
td.no_border
{
    border-right: medium none;
    padding-right: 2px;
    border-top: medium none;
    padding-left: 2px;
    padding-bottom: 3px;
    border-left: medium none;
    padding-top: 3px;
    border-bottom: medium none;
    background-color: transparent;
    text-align: left
}
td.no_border_wide
{
    border-right: medium none;
    padding-right: 16px;
    border-top: medium none;
    padding-top: 0px;
    border-left: medium none;
    padding-left: 0px;
    border-bottom: medium none;
    padding-bottom: 0px;
    background-color: transparent;
    text-align: left;
    vertical-align: top;
}
td.shoutrow
{
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none;
    background-color: #f5f4ea
}
td.bottom
{
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none
}
td.heading
{
    font-weight: bold
}
td.text
{
    padding-right: 10pt;
    padding-left: 10pt;
    padding-bottom: 10pt;
    padding-top: 10pt
}
td.comment
{
    padding-right: 10pt;
    padding-left: 10pt;
    padding-bottom: 10pt;
    padding-top: 10pt;
    text-align: left
}
td.colhead, thead>tr>th {
    white-space:nowrap;
    font-weight: bold;
    color: #ffffff;
    background-color: #0055a4;
}
.nowrap {
    white-space:nowrap;
}

thead.center th {
    text-align:center;
}

td.rowhead_left {
    text-align: left
}
td.rowhead_center {
    text-align: center
}
td.rowhead, tbody>tr>th
{
    font-weight: bold;
    vertical-align: top;
    text-align: right
}

table.torrents td.colhead, table.torrents th {
    text-align: center;
}

table.torrents {
    text-align: center;
}
td.navigation
{
    border-right: medium none;
    border-top: medium none;
    font-weight: bold;
    border-left: medium none;
    border-bottom: medium none
}
td.clear
{
    border-right: 0px;
    border-top: 0px;
    background: none transparent scroll repeat 0% 0%;
    border-left: 0px;
    border-bottom: 0px
}
form
{
    margin-top: 0px;
    margin-bottom: 0px
}
.sublink {
    font-weight: normal;
}
.gray
{
    color: #aca899;
/* text-decoration: underline */
}

.pages {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    text-align:center;
}

.pagenumber {
    font-weight: bold;
}

.attach img
{
    border: 0;
    width: 16px;
    height: 16px;
}
.attach a:link
{
    color: #0099CC;
    text-decoration: underline;
}
.attach .size
{
    color: gray;
}
a:link
{
    color: #000000;
    text-decoration: none
}
a:visited
{
    color: #000000;
    text-decoration: none
}
a:hover
{
    color: #ff0000
}
a.index
{
    font-weight: bold
}
.biglink a, a.biglink
{
    font-weight: bold;
}
.torrentname a {
    font-weight: bold;
}
a.altlink:link
{
    font-weight: bold;
    color: #a83838;
    text-decoration: none
}
a.altlink:visited
{
    font-weight: bold;
    color: #a83838;
    text-decoration: none
}
a.altlink:hover
{
    text-decoration: underline
}
a.altlink_blue:link
{
    font-weight: bold;
    color: #004e98;
    text-decoration: none
}
a.altlink_blue:visited
{
    font-weight: bold;
    color: #004e98;
    text-decoration: none
}
a.altlink_blue:hover
{
    text-decoration: underline
}
a.altlink_green:link
{
    font-weight: bold;
    color: #007800;
    text-decoration: none
}
a.altlink_green:visited
{
    font-weight: bold;
    color: #007800;
    text-decoration: none
}
a.altlink_green:hover
{
    text-decoration: underline
}
.important
{
    font-weight: bold;
}
.red
{
    color: #ee0000
}
.yellow
{
    color: #997700
}
.green
{
    color: #000000
}
.btn2
{
    border-right: #ccc 1px outset;
    padding-right: 2px;
    border-top: #ccc 1px outset;
    padding-left: 2px;
    font-weight: bold;
    background: url(./btnbg.gif) repeat-x left top;
    padding-bottom: 1px;
    border-left: #ccc 1px outset;
    cursor: pointer;
    color: #666;
    padding-top: 1px;
    border-bottom: #ccc 1px outset;
}
.btn
{
    border-right: #ccc 1px outset;
    padding-right: 2px;
    border-top: #ccc 1px outset;
    padding-left: 2px;
    font-weight: bold;
    background: url(./btnbg.gif) repeat-x left top;
    padding-bottom: 1px;
    border-left: #ccc 1px outset;
    cursor: pointer;
    color: #666;
    padding-top: 1px;
    border-bottom: #ccc 1px outset;
    border-radius: 3px;
}
.small
{
}
.big
{
}
li
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 16pt;
}
ul
{
    margin-top: 0px;
    margin-bottom: 0px;
}
img
{
    border: 0;
}
img.border
{
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid
}
.gobutton
{
    background: #476ba2;
    color: #fff
}
.codetop
{
    padding-right: 3px;
    padding-left: 3px;
    font-weight: bold;
    background: url(./code.gif) #f1b000 no-repeat right 50%;
    padding-bottom: 3px;
    margin: 0px auto;
    color: #000;
    padding-top: 3px
}
.codemain
{
    border-right: #000 1px solid;
    padding-right: 3px;
    border-top: #000 1px solid;
    padding-left: 3px;
    background: #fff;
    padding-bottom: 3px;
    margin: 0px auto;
    border-left: #000 1px solid;
    color: #000;
    padding-top: 3px;
    border-bottom: #000 1px solid
}
.dropmenu
{
    background:#F2F9FD none repeat scroll 0 0;
    border:3px solid #A6C9D7;
    margin-top:3px;
    opacity:0.9;
    position:absolute;
    text-align:left;
}
.dropmenu ul
{
    list-style-type: none;
    white-space: nowrap;
    padding:10px;
}
.dropmenu ul li
{
    margin-left: 0px;
    margin-right: 0px;
}
ul.menu
{
    list-style-image: none;
    list-style-type: none;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 1px;
    margin-left: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}
ul.menu li
{
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
}
ul.menu li a, ul.menu li span
{
    border-right: #778 1px solid;
    padding-right: 7px;
    border-top: #778 1px solid;
    padding-left: 7px;
    background: url(./shade.gif) white repeat-x left top;
    background-color: #cfe0df;
    padding-bottom: 3px;
    border-left: #778 1px solid;
    color: #2d2b2b;
    margin-right: 3px;
    padding-top: 3px;
    border-bottom: none;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-family: verdana;
    font-variant: normal;
    text-align: center;
    display: inline-block;
    border-radius:3px 3px 0 0;
}
ul.menu li a:link
{
    color: #2d2b2b;
}
ul.menu li a:visited
{
    color: #2d2b2b;
}
ul.menu li a:hover
{
    color: #2d2b2b;
    text-decoration: underline;
}
ul.menu li a:active
{
    color: #2d2b2b;
}
ul.menu li.selected a, ul.menu li.selected span
{
    background-image: url(./shadeactive.gif);
    background-color: #ffffff;
    border-bottom-color: white;
    position: relative;
}
ul.menu li.selected a:hover
{
    text-decoration: none;
}
.listitem
{
    margin-left: 10px;
    margin-right: 5px
}

.no-seeders {
    color: red;
}

.username {
    font-weight: bold;
}

.StaffLeader_Name{color: #8b0000}
A.StaffLeader_Name:link{color: #8b0000}
A.StaffLeader_Name:visited{color: #8b0000}

.SysOp_Name{color: #a0522d}
A.SysOp_Name:link{color: #a0522d}
A.SysOp_Name:visited{color: #a0522d}

.Administrator_Name{color: #4b0082}
A.Administrator_Name:link{color: #4b0082}
A.Administrator_Name:visited{color: #4b0082}

.Moderator_Name{color: #6495ED}
A.Moderator_Name:link{color: #6495ED}
A.Moderator_Name:visited{color: #6495ED}

.ForumModerator_Name{COLOR: #1cc6d5}
A.ForumModerator_Name:link{COLOR: #1cc6d5}
A.ForumModerator_Name:visited{COLOR: #1cc6d5}

.Retiree_Name{COLOR: #1cc6d5}
A.Retiree_Name:link{COLOR: #1cc6d5}
A.Retiree_Name:visited{COLOR: #1cc6d5}

.Uploader_Name{color: #DC143C}
A.Uploader_Name:link{color: #DC143C}
A.Uploader_Name:visited{color: #DC143C}

.VIP_Name{color: #009F00}
A.VIP_Name:link{color: #009F00}
A.VIP_Name:visited{color: #009F00}

.NexusMaster_Name{color: #38ACEC}
A.NexusMaster_Name:link{color: #38ACEC}
A.NexusMaster_Name:visited{color: #38ACEC}

.UltimateUser_Name{color: #006400}
A.UltimateUser_Name:link{color: #006400}
A.UltimateUser_Name:visited{color: #006400}

.ExtremeUser_Name{color: #FF8C00}
A.ExtremeUser_Name:link{color: #FF8C00}
A.ExtremeUser_Name:visited{color: #FF8C00}

.VeteranUser_Name{color: #483D8B}
A.VeteranUser_Name:link{color: #483D8B}
A.VeteranUser_Name:visited{color: #483D8B}

.InsaneUser_Name{color: #8B008B}
A.InsaneUser_Name:link{color: #8B008B}
A.InsaneUser_Name:visited{color: #8B008B}

.CrazyUser_Name{color: #00BFFF}
A.CrazyUser_Name:link{color: #00BFFF}
A.CrazyUser_Name:visited{color: #00BFFF}

.EliteUser_Name{color: #008B8B}
A.EliteUser_Name:link{color: #008B8B}
A.EliteUser_Name:visited{color: #008B8B}

.PowerUser_Name{color: #DAA520}
A.PowerUser_Name:link{color: #DAA520}
A.PowerUser_Name:visited{color: #DAA520}

.User_Name{color: #000000}
A.User_Name:link{color: #000000}
A.User_Name:visited{color: #000000}

.Peasant_Name{color: #708090}
A.Peasant_Name:link{color: #708090}
A.Peasant_Name:visited{color: #708090}

.color_bonus{color: #1900d1}
.color_invite{color: #1900d1}
.color_slots{color: #1900d1}
.color_downloaded{color: #8b0000}
.color_uploaded{color: #008000}
.color_ratio{color: #1900d1}
.color_active{color: #1900d1}
.color_connectable{color: #1900d1}

.logo
{
    color: #000000;
    font-family: tahoma, arial, helvetica, sans-serif;
}

.slogan
{
    color: #333333;
    font-family: tahoma, arial, helvetica, sans-serif;
}

.minor-list.properties li:before {
    content: "[";
    color: black;
}

.minor-list.properties li:after {
    content: "]";
    color: black;
}

.minor-list.properties li {
    color: red;
    font-size: 80%;
}

.minor-list ul {
    display:inline;
    margin: 0px;
    padding: 0px;
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    vertical-align: middle !ie;
}

.minor-list li {
    display:inline-block;
    line-height: 1.35em;
    padding: 0 .5em;
    /* border-left: 1px solid #AAA; */
    margin: 0.3em 0;
    zoom: 1;
    display:inline !ie;
}

.minor-list.list-seperator li, li.list-seperator {
    border-left: 1px solid #AAA;
}

.minor-list li:first-child {
    padding-left: .4em;
    border-left: none;
}

.minor-list .title {
    padding-right: .5em;
}

.minor-list.compact li {
    margin: 0;
}

.minor-list.horizon-compact li {
    padding: 0;
}

.minor-list-vertical.loose li {
    margin: 0.4em;
}

.minor-list-vertical ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    vertical-align: middle !ie;
}

.minor-list-vertical li {
    display: block;
    padding: 0;
    margin:  0;
    zoom: 1;
}

.minor-list-vertical li:first-child {
    padding: 0;
}

input.invalid, dt.invalid, .invalid input[type="text"] {
    background-color: red;
}

dt.invalid {
    border-radius: 3px;
}

input.invalid-ref, .invalid-ref input[type="text"], .invalid-ref a {
    background-color: yellow;
}

dl.table { 
    width:940px;
    margin:0 auto;
    border:1px black solid;
}

dl dt {  
    float:left; 
    font-weight:bold;  
    margin-right:10px; 
    padding:5px;  
    width:100px; 
    text-align:right;
    clear: both;
    /* background:#9af; */
    /* border-radius:2px; */
    /* box-shadow:2px 2px 5px silver; */
}

dl.midt dt {
    width: 20%;
}

dl.midt dd {
    padding-left: 22%;
}

dl.longt dt {
    width: 40%;
}

dl.longt dd {
    padding-left: 42%;
}

dl dd {
    margin:0;
    padding:5px 0 5px 120px;
    border-top:1px silver dashed;
    min-height: 1.1em;
}

dl dd.no-dt {
    margin-left: 120px;
    padding-left: 0;
}

dl dd.first-child, dl dd:first-of-type {
    border-top:none;
}

#searchbox-right li {
    margin: 1.5em 0;
}

.selected, .selected a {
    color: gray;
}

.disabled {
    color: gray;
}

.alert-message-body {
    max-height:4em;
    overflow-y:hidden;
}

#torrents h2, #torrents h3 {
    padding: 0;
    margin: 0 0.5em;
    display: inline-block;
    zoom: 1;
    display:inline !ie;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 495px;
}

#torrents h3{
    font-weight: normal;
}

h3.placeholder {
    height:1em;
}

td.torrent, td.torrent>div {
    width: 525px;
    text-align: left;
}

td.torrent .limit-width {
    width: 95%;
    margin-left: 0;
}

td.torrent>div, .torrent-title {
    position: relative; 
    zoom:1;
    white-space: nowrap;
}

.torrent-utilty-icons {
    position: absolute;
    top: 0;
    right: 0;
}

ul.prs {
    display:inline-block;
    position:absolute;
    right:0;
    padding-top: 2px;
    background-color: #cfcfcc;
    display:inline !ie;
}

ul.prs li {
    padding: 0 0.2em;
    margin: 0;
}


.pr-eternal {
    color: #2C2;
}

.pr-limit {
    color: blue;
}


.subtitle-name {
    display: inline-block;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    zoom: 1;
}

#expand-pr {
    margin-left: 1.5em;
    margin-bottom: 0.5em;
}

td.category-icon {
    padding: 0;
    vertical-align: middle;
}


#delete-user {
    position:absolute;
    top: 0;
    right:0;
}

#back-to-top {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin-left: 10px;
    zoom: 1;
    background: url("../back-to-top.png") 0 0 no-repeat;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    opacity: 1; 
}

#back-to-top:hover {
    background-position: -50px 0;
}

.frame {
    padding: 10px;
    position: relative;
}

#saythanks {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.poll {
    display: block;
    text-align: center;
    list-style-type:none;    
    margin: 0 auto;
    width: 95%;
    border-top: none;
    padding: 1.5em;
}

.poll:first-child {
    border-top: 1px solid black;
}

.poll h3 {
    margin: 0 auto;
}

.poll-opts {
    margin: 2em auto;
    text-align: left;
    padding-left: 50%;
    position: relative;
    zoom: 1;
}

.opt-text {
    position: absolute;
    right: 51%;
}

.search{
	width:579px;
	height:95px;
	margin:5px 0 5px 0;
	text-align:left;
}
.search_title{
	color:#0062AE;
	background-color:#DAF3FB;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	padding:7px 0 0 15px;
}

.search_table {
	border-collapse: collapse;
	border: none;
	background-color: #ffffff; 
}

pre, code {
    font-family:Menlo, Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
}

.bbcode blockquote {
    margin: 0;
}

.bbcode pre {
    border:dashed 1px silver;
    padding:0.5em;
    line-height: 150%;
}

.bbcode code {
    background-color:#eee;
    padding:0.3em;
    line-height: 150%;
}

.bbcode dt {
    font-weight: bold;
}

.bbcode dt:after {
    content: ': ';
}

.codebuttons {
    font-size:11px; 
    margin-right:3px;
}

input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

#bonuses {
    -moz-column-width:450px; 
    -webkit-column-width:450px; 
    column-width:450px;
    margin-bottom: 2em;
}

#bonuses li {
    -moz-column-break-inside:avoid;
    -webkit-column-break-inside:avoid;
    column-break-inside:avoid;
}

.bonus-sub-group:first-child {
    border-right: dashed 1px silver;
}

.bonus-item {
    border-top: dotted 1px silver;
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    margin: 1.5em 0 0 0;
    padding: 0 1em;
}

.bonus-item:first-child {
    border-top: none;
    margin-top: 0.5em;
}

.bonus-item h3, .bonus-item h4 {
    position: relative;
    zoom: 1;
}

.bonus-price {
    font-size: normal;
    position: absolute;
    top: 0;
    right: 4em;
}

.bonus-opts {
    margin-left: 1em;
}

.smiles li {
    width:20px;
}

pre, code {
    font-family:Menlo, Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
}

.bbcode blockquote {
    margin: 0;
}

.bbcode pre {
    border:dashed 1px silver;
    padding:0.5em;
    line-height: 150%;
}

.bbcode code {
    background-color:#eee;
    padding:0.3em;
    line-height: 150%;
}

.codebuttons {
    font-size:11px; 
    margin-right:3px;
}

input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

.smiles li {
    width:20px;
}

.scalable {
    max-width: 800px;
    max-height: 800px;
}

.post-edited {
    text-align: left;
    font-size: 80%;
    margin: 1em 2.5em 0.8em 2.5em;
}

.forum-post-body-container {
    position: relative;
    zoom: 1;
    margin-left: 160px;
    margin-top: 0.5em;
}

.signature {
    vertical-align:bottom;
    border-top: 1px solid gray;
    margin:1.2em 0 0.8em 0;
    padding-top: 0.4em;
    min-width: 15em;
    max-height:200px;
    max-width:550px;
    overflow:hidden;
}

.forum-post-postfix {
    min-height: 30px;
}

#forum-header {
    position: relative;
    zoom: 1;
    margin: 1em 1.5em;
    width: 95%;
}

#post-viewed-count {
    font-weight: bold;
}

#post-viewed-count-container {
    position: absolute;
    top: 0.2em;
    left: 0;
}

#reply-post {
    position: absolute;
    top:0;
    right:0;
}

.forum-post-header {
    margin: 0;
    position: relative;
    zoom: 1;
}

.forum-floor {
    position: absolute;
    right: 1em;
    top: 2px;
}

.forum-floor a {
    display:inline-block;
    max-width:300px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display:inline !ie;
    zoom: 1;
}

.forum-post, .forum-ad {
    width: 95%;
    margin: 0 auto;
    zoom: 1;
    border-top: none;
}

.forum-ad {
    padding: 0 0.5em;
}

.forum-post {
    display:block;
    list-style-type:none;
    padding: 0.5em;
}

.forum-post:first-child {
    border-top: 1px solid black;
}

.forum-author-info {
    float:left;
    width:130px;
}

.user-stats {
    margin: 0.8em;
}

.post-avatar {
    text-align:center;
    margin-top:10px;
}

.post-avatar {
    text-align:center;
    margin-top:10px;
}

.forum-user-toolbox {
    text-align:center;
}

.forum-post-toolbox {
    position: absolute;
    padding: 0;
    bottom: 0;
    right: 0;
}

.forum-post-footer {
    clear:both;
}

#forum-toolbox {
    text-align: center;
    margin: 0 auto 8px auto;
    border-top-width: 0px;
    width: 95%;
}

#forum-reply-post {
    text-align: center;
    padding: 0 0 1.2em 0;
    width: 55%;
    margin-top: 1em;
}

#forum-reply-post h2 {
    margin: 0.5em auto;
}

.forum-post-body {
    overflow:hidden;
    text-overflow:ellipsis;
    margin-bottom: 1em;
}

.forum-post-body a {
    max-width:80%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.forum-ad {
    text-align: center;
}

#alert {
    margin: 1.5em auto;
    text-align: center;
}

#alert li, #alert li:first-child {
    border-radius: 3px;
    background-color: red;
    padding: 0.8em 1.2em;
    box-shadow:2px 2px 5px gray;
    margin: 0 1em;
}

#alert a {
    font-weight: bold;
    color: white;
}

#mybonus-result-text {
    margin: 1em auto;
}

#friends, #blocks {
    width: 90%;
    margin: 1.5em auto;
}

#searchbox {
    text-align:center;
}

#searchbox-header {
    padding:0.5em;
    font-weight:bold;
    border-bottom: #CCC 1px solid;
}

#ksearchboxmain {
    position: relative;
    zoom: 1;
}

#searchbox-cats {
    padding: 1em;
    text-align:left;
}

#ksearchbox-simple {
    position:relative;
    zoom: 1;
}

#ksearchbox-simple div {
    position: absolute;
    zoom: 1;
    right:2em;
}

#hotbox {
    position: absolute;
    top:0;
    right:0;
    padding: 2em 2em 0 2em;
    width: 120px;
    text-align: left;
}

#hotbox div {
    margin-bottom: 1.7em;
}

#hotbox li {
    padding-bottom: 0.3em;
}

.suggestion-count {
    position:absolute;
    zoom: 1;
    right:0.5em;
}

#donating {
	text-align: right;
	font-weight: bold;
}
#to_donate a {
	width: 42px;
}
.donate {
	display: inline-block;
	height: 22px;
	margin: 6px;
	padding: 0 6px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #AAA;
	border-radius:3px;
	zoom: 1;
}

.donate64 {background-color: #FFFF99;}
.donate128 {background-color: #CCFF99;}
.donate256 {background-color: #99FFFF;}
.donate512 {background-color: #99CCFF;}
.donate1024 {background-color: #FF9999;}
.donate_note {margin: 0;}

.required-field {
    color: red;
}

form .edit-hint {
    text-align: center;
    margin-bottom: 0.5em;
}

.required:after {
    content: ' *';
    color: red;
}

#search-subtitles {
    text-align:center;
    margin: 2em auto;
}

/* a work-around before all tables removed*/
.main {
    margin: 0 auto;
}

.center {
    text-align: center;
    margin: 1em auto;
}

#hot-search li {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:8em;
}

#news {
    padding: 20px 10px;
}

#poll {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.minor-nav {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.hints ul {
    font-size: 120%;

    list-style: none;
    list-style-type: none;
    list-style-image:none;
}

form.a {
    display: inline;
}

input.a {
    border:none;
    background-color:transparent;
    padding:0;
    margin:0;
    vertical-align: 0;
}

input.a:hover {
    color:red;
    cursor:pointer;
}

#funbox-content {
    max-height: 360px;
    overflow-y: scroll;
}

#nav-reg-signup {
    margin: 0 auto;
    padding: 0.8em;
}

#lang-choice {
    position: absolute;
    right:1em;
    top:1em;
}

#stderr {
    width: 50%;
    text-align: center;
    margin:0 auto;
    padding-bottom: 3em;
}

#wrap {
    width:1050px;
    margin: 0 auto;
}

header {
    position:relative;
    background:url(../hustlogo.png) no-repeat 85% bottom;
}

#donate {
    position: absolute;
    right:30px;
    bottom:15px;
}

#outer {
    padding: 10px 5px 0 5px;
    text-align: left;
}

#outer>table, #outer>div, #outer>form>table, #outer>form>div {
    margin-left: auto;
    margin-right: auto;
}

#header-info {
    padding: 4px;
    margin:0 10px;
    position:relative;
    zoom:1;
}

#header-userinfo {
    text-align:left;
}

#header-icons {
    position:absolute;
    right:8px;
    text-align:right;
}

.free{color:#0c70e1}
.twoup{color:#d2b8b8}
.twoupfree{color:#99cc66}
.halfdown{color:#7c7ff6}
.twouphalfdown{color:#7ad6ea}
.thirtypercent{color:#70328d}
.oday{color:#009933}/*Added by bluemonster 20111031 */
.free_bg{background-color:#cae8f6}
.twoup_bg{background-color:#ffecec}
.twoupfree_bg{background-color:#ccff99}
.halfdown_bg{background-color:#cccdf8}
.twouphalfdown_bg{background-color: #96dbea}
.thirtypercentdown_bg{background-color:#ddc3ea}
.oday_bg{color:#dddddd}/*Added by bluemonster 20111031*/
.hot{color:#e78d0f}
.classic{color:#77b300}
.recommended{color:#820084}
.new{color:#ff0000}
.striking{color:#ff0000;font-weight: bold;}

.torrent-label, .pr-eternal, .pr-limit, .free, .twoup, .twoupfree, .halfdown, .twouphalfdown, .thirtypercent, .oday, .free_bg, .twoup_bg, .twoupfree_bg, .halfdown_bg, .twouphalfdown_bg, .thirtypercentdown_bg, .oday_bg, .hot, .classic, .recommended, .new, .striking {
    font-weight: bold;
    white-space: nowrap;
}