#logo-img {
    background-image: url(2012newyear_logo.png);
    background-repeat: no-repeat;
}
/* .logo-2012-1{ background-position: 0 0; width: 418px; height: 95px; }  */
/* .logo-2012-2{ background-position: 0 -95px; width: 418px; height: 95px; }  */
.logo-2012-1{ background-position: 0 -1px; width: 418px; height: 95px; }
.logo-2012-2{ background-position: 0 -96px; width: 418px; height: 95px; }
.logo-2012-3{ background-position: 0 -190px; width: 418px; height: 95px; }
.logo-2012-4{ background-position: 0 -285px; width: 418px; height: 95px; }
.logo-2012-5{ background-position: 0 -380px; width: 418px; height: 95px; }
.logo-2012-6{ background-position: 0 -475px; width: 418px; height: 95px; }
.logo-2012-7{ background-position: 0 -570px; width: 418px; height: 95px; }
.logo-2012-8{ background-position: 0 -665px; width: 418px; height: 95px; }
.logo-2012-9{ background-position: 0 -760px; width: 418px; height: 95px; }
.logo-2012-10{ background-position: 0 -855px; width: 418px; height: 95px; }
.logo-2012-11{ background-position: 0 -950px; width: 418px; height: 95px; }
.logo-2012-12{ background-position: 0 -1045px; width: 418px; height: 95px; }
.logo-2012-13{ background-position: 0 -1140px; width: 418px; height: 95px; }
.logo-2012-14{ background-position: 0 -1235px; width: 418px; height: 95px; }
.logo-2012-15{ background-position: 0 -1330px; width: 418px; height: 95px; }
.logo-2012-16{ background-position: 0 -1423px; width: 418px; height: 95px; }
.logo-2012-17{ background-position: 0 -1518px; width: 418px; height: 95px; }