body {background-color:#587993}
body.inframe {
    background-image:none;
    background-color:#bccad6;
}
table {background-color:#bccad6}
.table {background-color:#bccad6}
#page {position:relative}
table.message {
    border-right:#bccad6 1px solid;
    border-top:#bccad6 1px solid;
    border-left:#bccad6 1px solid;
    border-bottom:#bccad6 1px solid;
}
h2 {
    background-position:left top;
    padding-right:4px;
    padding-left:4px;
    margin-bottom:0px;
    padding-bottom:3px;
    padding-top:3px;
    background-color:#2f4879;
    color:white;
    background-repeat:repeat;
}
.torrent-title h2 {color:black}
td {border:#000000 1px solid}
.td {border:#000000 1px solid}
table.no-vertical-line>thead>tr:first-child>th {border-top:#000000 1px solid}
table.no-vertical-line {border-bottom:#000000 1px solid}
table.no-vertical-line tr:nth-of-type(even) td {
    background-color:#eaecee;
    border-top:solid 1px #bccad6;
    border-bottom:solid 1px #bccad6;
}
.text {
    padding-right:10pt;
    padding-left:10pt;
    padding-bottom:10pt;
    padding-top:10pt;
}
td.colhead {background-color:#2f4879}
thead>tr>th {background-color:#2f4879}
td.colhead a:link {color:white}
th.colhead a:link {color:white}
.gray {text-decoration:underline}
a:hover {color:#00008c}
a.biglink {text-decoration:none}
a.altlink:link {color:#a83838}
a.altlink:visited {color:#a83838}
a.altlink:hover {text-decoration:underline}
a.faqlink:link {
    font-weight:bold;
    color:#a83838;
    text-decoration:none;
}
a.faqlink:visited {
    font-weight:bold;
    color:#a83838;
    text-decoration:none;
}
a.faqlink:hover {text-decoration:underline}
.btn2 {
    border-right:#ccc 1px outset;
    padding-right:2px;
    border-top:#ccc 1px outset;
    padding-left:2px;
    font-weight:bold;
    background:url(./btnbg.gif) repeat-x left top;
    padding-bottom:1px;
    border-left:#ccc 1px outset;
    cursor:pointer;
    color:#666;
    padding-top:1px;
    border-bottom:#ccc 1px outset;
}
.btn {
    border-right:#ccc 1px outset;
    padding-right:2px;
    border-top:#ccc 1px outset;
    padding-left:2px;
    font-weight:bold;
    background:url(./btnbg.gif) repeat-x left top;
    padding-bottom:1px;
    border-left:#ccc 1px outset;
    cursor:pointer;
    color:#666;
    padding-top:1px;
    border-bottom:#ccc 1px outset;
    border-radius:3px;
}
.gobutton {
    background:#476ba2;
    color:#fff;
}
.codetop {background:url(./code.gif) #f1b000 no-repeat right 50%}
ul.menu li {margin-right:0px}
ul.menu li a {
    color:#2d2b2b;
    background:url(./shade.gif) repeat-x left top;
    border:1px solid white;
    background-color:#dedede;
    margin-right:1px;
    padding:3px 7px;
    font-family:verdana;
}
ul.menu li span {
    color:#2d2b2b;
    background:url(./shade.gif) repeat-x left top;
    border:1px solid white;
    background-color:#dedede;
    margin-right:1px;
    padding:3px 7px;
    font-family:verdana;
}
ul.menu li a:link {color:#2d2b2b}
ul.menu li a:visited {color:#2d2b2b}
ul.menu li a:hover {
    color:#2d2b2b;
    background:url(./shadehover.gif) repeat-x left top;
    background-color:#72b5ec;
    text-decoration:underline;
}
ul.menu li a:active {color:#2d2b2b}
ul.menu li.selected a {
    background-image:url(./shadeactive.gif);
    background-color:#72b5ec;
}
ul.menu li.selected span {
    background-image:url(./shadeactive.gif);
    background-color:#72b5ec;
}
ul.menu li.selected a:hover {
    background:url(./shadehover.gif) repeat-x left top;
    background-color:#72b5ec;
    text-decoration:underline;
}
.color_bonus {color:#1900d1}
.color_invite {color:#1900d1}
.color_slots {color:#1900d1}
.color_uploaded {color:#008000}
.color_ratio {color:#1900d1}
.color_active {color:#1900d1}
.color_connectable {color:#1900d1}
.logo {color:#ffffff}
.slogan {color:#ffffff}
header {background:url(../hustlogo.png) no-repeat 85% bottom}
.twoup {color:#d2b8b8}
.twoup_bg {background-color:#ffecec}
div.niceTitle {background-color:#7c98ae}
div.smilies td {background-color:#7c98ae}
