body {
    background:url(./bg.jpg) no-repeat center top;
    background-color:#006633;
}
body.inframe {
    background-image:none;
    background-color:#c6e3c6;
}
table {background-color:#c6e3c6}
.table {background-color:#c6e3c6}
#page {
    background-color:#55aa55 position: relative;
    box-shadow:0 0 20px #55aa55;
}
table.message {
    border-right:lime 1px solid;
    border-top:lime 1px solid;
    border-left:lime 1px solid;
    border-bottom:lime 1px solid;
}
h2 {
    background-position:left top;
    padding-right:4px;
    padding-left:4px;
    margin-bottom:0px;
    padding-bottom:3px;
    padding-top:3px;
    background-color:#006600;
    background-repeat:repeat;
}
td {border:#00aa00 1px solid}
th {border:#00aa00 1px solid}
.td {border:#00aa00 1px solid}
table.no-vertical-line>thead>tr:first-child>th {border-top:#00aa00 1px solid}
table.no-vertical-line {border-bottom:#00aa00 1px solid}
table.no-vertical-line tr:nth-of-type(even) td {
    background-color:#e0ebd8;
    border-top:solid 1px #c6e3c6;
    border-bottom:solid 1px #c6e3c6;
}
.text {
    padding-right:10pt;
    padding-left:10pt;
    padding-bottom:10pt;
    padding-top:10pt;
}
td.colhead {background-color:#006600}
thead>tr>th {background-color:#006600}
table.torrents td.colhead {position:relative}
table.torrents th {position:relative}
a:hover {color:#008c00}
.biglink a {
    font-weight:bold;
    text-decoration:none;
}
a.biglink {text-decoration:none}
.torrentname a {font-weight:bold}
a.altlink:link {color:#81c281}
a.altlink:visited {color:#81c281}
a.altlink:hover {color:#f1ab41}
a.faqlink:link {
    font-weight:bold;
    color:#008600;
    text-decoration:none;
}
a.faqlink:visited {
    font-weight:bold;
    color:#008600;
    text-decoration:none;
}
a.faqlink:hover {color:#f1ab41}
.gobutton {
    background:#006600;
    color:#000;
}
.codetop {background:#71c271}
ul.menu li {margin-bottom:0px}
ul.menu li a {
    color:#ffffff;
    background-color:#00aa00;
    border-color:#00aa00;
    border-style:solid;
    border-width:1px;
    margin-right:1px;
    padding:3px 7px;
    font-family:verdana;
}
ul.menu li span {
    color:#ffffff;
    background-color:#00aa00;
    border-color:#00aa00;
    border-style:solid;
    border-width:1px;
    margin-right:1px;
    padding:3px 7px;
    font-family:verdana;
}
ul.menu li a:link {color:#ffffff}
ul.menu li a:visited {color:#ffffff}
ul.menu li a:hover {background-color:#00ff00}
ul.menu li a:active {color:#ffffff}
ul.menu li.selected a {
    background-color:#336633;
    background-image:none;
    border:1px solid #00aa00;
    color:#ffffff;
}
ul.menu li.selected span {
    background-color:#336633;
    background-image:none;
    border:1px solid #00aa00;
    color:#ffffff;
}
ul.menu li.selected a:hover {background-color:#336633}
.color_bonus {color:#339933}
.color_invite {color:#339933}
.color_slots {color:#339933}
.color_uploaded {color:#0000f6}
.color_ratio {color:#339933}
.color_active {color:#339933}
.color_connectable {color:#339933}
.logo {color:#ffffff}
.slogan {color:#eeeeee}
.twoup {color:#aaaaaa}
.twoup_bg {background-color:#dddddd}
div.niceTitle {background-color:#55aa55}
div.smilies td {background-color:#55aa55}
div.attach .contents a {
    color:#0099CC;
    text-decoration:none;
}
