body {background:#e6e6e6 url(./bg.gif) repeat left top}
body.inframe {background:transparent none}
table {background-color:transparent}
.table {background-color:transparent}
#page {
    background-color:white;
    position:relative;
    box-shadow:0 0 20px white;
}
table.message {
    border-right:#bccad6 1px solid;
    border-top:#bccad6 1px solid;
    border-left:#bccad6 1px solid;
    border-bottom:#bccad6 1px solid;
}
h1 {position:relative}
h2 {
    padding-right:4px;
    background-position:left top;
    padding-left:4px;
    background-image:url(./shade.gif);
    margin-bottom:0px;
    padding-bottom:3px;
    padding-top:3px;
    background-repeat:repeat-x;
    background-color:#ff9718;
}
td {border:#cccccc 1px solid}
th {border:#cccccc 1px solid}
.td {border:#cccccc 1px solid}
table.no-vertical-line>thead>tr:first-child>th {border-top:#cccccc 1px solid}
table.no-vertical-line {border-bottom:#cccccc 1px solid}
table.no-vertical-line tr:nth-of-type(even) td {
    background-color:#fde4d0;
    border-top:solid 1px transparent;
    border-bottom:solid 1px transparent;
}
td.shoutrow {background-color:#ffffff}
.text {
    padding-right:10pt;
    padding-left:10pt;
    padding-bottom:10pt;
    padding-top:10pt;
}
td.colhead {
    background:url(./shade.gif) white repeat-x left top;
    background-color:#ff9718;
}
thead>tr>th {
    background:url(./shade.gif) white repeat-x left top;
    background-color:#ff9718;
}
td.nothing {
    border-right:0px;
    padding-right:0px;
    border-top:0px;
    padding-left:0px;
    background:none transparent scroll repeat 0% 0%;
    padding-bottom:0px;
    border-left:0px;
    padding-top:0px;
    border-bottom:0px;
}
.gray {text-decoration:underline}
a:hover {color:#ff8e00}
.biglink a {
    font-weight:bold;
    text-decoration:none;
}
a.biglink {text-decoration:none}
.torrentname a {font-weight:bold}
a.altlink:link {color:#a83838}
a.altlink:visited {color:#a83838}
a.altlink:hover {text-decoration:underline}
a.faqlink:link {
    font-weight:bold;
    color:#a83838;
    text-decoration:none;
}
a.faqlink:visited {
    font-weight:bold;
    color:#a83838;
    text-decoration:none;
}
a.faqlink:hover {text-decoration:underline}
.btn2 {
    border-right:#ccc 1px outset;
    padding-right:2px;
    border-top:#ccc 1px outset;
    padding-left:2px;
    font-weight:bold;
    background:url(./btnbg.gif) repeat-x left top;
    padding-bottom:1px;
    border-left:#ccc 1px outset;
    cursor:pointer;
    color:#666;
    padding-top:1px;
    border-bottom:#ccc 1px outset;
}
.btn {
    border-right:#ccc 1px outset;
    padding-right:2px;
    border-top:#ccc 1px outset;
    padding-left:2px;
    font-weight:bold;
    background:url(./btnbg.gif) repeat-x left top;
    padding-bottom:1px;
    border-left:#ccc 1px outset;
    cursor:pointer;
    color:#666;
    padding-top:1px;
    border-bottom:#ccc 1px outset;
    border-radius:3px;
}
.gobutton {
    background:#476ba2;
    color:#fff;
}
.codetop {background:url(./code.gif) #f1b000 no-repeat right 50%}
ul.menu li {margin-right:0px}
ul.menu li a {
    color:#2d2b2b;
    background:url(./shade.gif) repeat-x left top;
    border:1px solid white;
    background-color:#ff9718;
    margin-right:1px;
    padding:3px 7px;
    font-family:verdana;
}
ul.menu li span {
    color:#2d2b2b;
    background:url(./shade.gif) repeat-x left top;
    border:1px solid white;
    background-color:#ff9718;
    margin-right:1px;
    padding:3px 7px;
    font-family:verdana;
}
ul.menu li a:link {color:#2d2b2b}
ul.menu li a:visited {color:#2d2b2b}
ul.menu li a:hover {
    background-image:url(./hover.png);
    color:#2d2b2b;
}
ul.menu li a:active {color:#2d2b2b}
ul.menu li.selected a {
    background-image:url(./shadeactive.gif);
    background-color:#8a8a8a;
}
ul.menu li.selected span {
    background-image:url(./shadeactive.gif);
    background-color:#8a8a8a;
}
ul.menu li.selected a:hover {background-image:url(./hover.png)}
.color_bonus {color:#1900d1}
.color_invite {color:#1900d1}
.color_slots {color:#1900d1}
.color_uploaded {color:#008000}
.color_ratio {color:#1900d1}
.color_active {color:#1900d1}
.color_connectable {color:#1900d1}
.logo {color:#ffa531}
.slogan {color:#de9332}
header {background:url(../hustlogo.png) no-repeat 85% bottom}
.twoup {color:#aaaaaa}
.twoup_bg {background-color:#dddddd}
div.niceTitle {background-color:#ffc580}
div.smilies td {background-color:#ffc580}
