.username .user-id {
    display: none;
}

header {
    height:94px;
}

#logo-img {
    height: 95px;
}

#donation-img {
    margin-left: 5px; margin-top: 50px;
}

#ad_belownav {
    margin-bottom: 10px;
    text-align:center;
}

#ad_header {
    position: absolute;
    top:0px;
    right:150px;
}

.bbcode {
    position:relative;
}

#funcomment dd div {
    max-height:2em;
    overflow:hidden;
}

#donating {
	text-align: right;
	font-weight: bold;
}
#to_donate a {
	width: 42px;
}
.donate {
	display: inline-block;
	height: 22px;
	margin: 6px;
	padding: 0 6px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #AAA;
	border-radius:3px;
	zoom: 1;
}

.donate-0 {background-color: #FFFF99;}
.donate-1 {background-color: #CCFF99;}
.donate-2 {background-color: #99FFFF;}
.donate-3 {background-color: #99CCFF;}
.donate-4 {background-color: #FF9999;}
.donate_note {margin: 0;}

.offer-frozen {color: darkblue}
.offer-denied {color: red}
.offer-allowed {color: green}
.offer-uploaded {color: gray}
.offer-pending {color: orange}

.faq-status-img {
    display:inline-block;
    text-indent: -9999999px;
}

.faq-status-img.editing {
    text-indent: 0;
}

.faq-hidden {color:gray}

.faq-status {
    position: absolute;
    right: 2em;
}
.faq-item-remove {
    position: absolute;
    right: 0.5em;
}

.action {cursor:pointer}

.bbcode-menu {
    position: absolute;
    width: 120px; 
    z-index: 999;
    max-height: 500px;
    overflow: scroll;
}

dl.minor-list {
    margin: 0;
}

dl.minor-list dt {
    display: inline-block;
    float: none;
    width: auto;
    margin-right: 2px;
}

dl.minor-list dd {
    display: inline-block;    
    padding-left: 0;
    padding-right: 5px;
    border-top: none;
}

dl.minor-list.properties dt:after {
    content: ':';
}

td.torrent {
    overflow:hidden;
    padding:0
}

.progress {
    position:absolute;
    height: 200%;
    top: -30%;
}


.progress.seeding {background-color: #f9f}
.progress.seeded {background-color: #fcf}
.progress.finished {background-color: silver}
.progress.downloading {background-color: lightgreen}
.progress.downloaded {background-color: lightyellow}
.progress.uploaded.seeding {background-color: sandybrown}
.progress.uploaded {background-color: #FAD7B7}

img.game_video{background: url(../pic/category/chd/modern/sprite.png) no-repeat top left; background-position: 0 -1457px; width: 46px; height: 46px; } 
img.ebook{background: url(../pic/category/chd/modern/sprite.png) no-repeat top left; background-position: 0 -1504px; width: 46px; height: 46px; } 

.category-icon img {display: block;}
