body
{
font-size: 9pt;
}
h1
{
font-size: 12pt
}
h2
{
font-size: 12pt
}
p
{
font-size: 10pt
}
td
{
font-size: 9pt
}
table.torrents td.rowfollow
{
font-size: 8pt
}
table.torrentname td.embedded, #torrents h2, #torrents h3
{
font-size: 10pt
}
td.comment
{
font-size: 9pt
}
td.title
{
font-size: 14pt
}
td.navigation
{
font-size: 10pt
}
.sublink
{
font-size: 8pt
}
.biglink a, a.biglink
{
font-size: 10pt
}
.important
{
font-size: 9pt
}
input
{
font-family: tahoma, arial, helvetica, sans-serif;
font-size: 9pt;
}
select
{
font-family: tahoma, arial, helvetica, sans-serif;
font-size: 9pt;
}
select.med
{
font-size: 9pt;
}
textarea
{
overflow: auto;
font-family: tahoma, arial, helvetica, sans-serif;
font-size: 9pt;
}
.minor-nav {
font-size: 10pt;
}
.small
{
font-size: 9pt
}
.medium
{
font-size: 9pt
}
.big
{
font-size: 10.5pt
}
ul.menu
{
font-size: 13px;
}
.logo
{
font-size: 25pt
}
.slogan
{
font-size: 9pt
}
